a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    /* vertical-align: baseline; */
}

div {
    display: block;
}

body {
    font-family: arial, SimHei, sans-serif;
}
a{
    text-decoration: none;
    color:#333;
}
ul li,
ol li {
    list-style: none;
}

img {
    border: none;
}

.clearfix:after {
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}
.hide {
    display: none!important;
}
a img {
    border: none;
}
.hide {
    display: none!important;
}
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
}
