.yoho-footer {
    font-size: 12px;
    box-sizing: border-box;
}
.yoho-footer .footerbottom {
    width: 100%;
}
.center-content {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.yoho-footer .promise {
    padding: 20px 0 10px;
    background: #000;
    /* height:32px; */
   
}
.yoho-footer .promise .center-content{
    border-bottom:1px solid rgb(38, 38, 38);
}
.yoho-footer .promise .left {
    margin-right: 60px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
}
.yoho-footer .promise .left .iconfont {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;
}
.yoho-footer .rgbf {
    color: #fff;
}
.yoho-footer .red {
    color: #e01;
}
/*promise end*/
.yoho-footer .footer-help {
    background: #000;
    font-size: 12px;
    overflow: hidden;
}
.yoho-footer .footer-help li {
    width: 160px;
}
.yoho-footer .footer-help p {
    line-height: 24px;
}
.yoho-footer .footer-help p span {
    color: #fff;
}
.yoho-footer .footer-help p a {
    color: #666;
}
.yoho-footer .footer-help p a:hover {
    text-decoration: underline;
}
/*help end*/
.yoho-footer .footer-link {
    background: #000;
    padding: 10px 0 14px;
    font-size: 12px;
}
.yoho-footer .footer-link .about-us {
    line-height: 20px;
    color: #666;
    padding-left: 300px;
    position: relative;
}
.yoho-footer .footer-link .left-flag {
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: 12px;
}
.left-flag a {
    display:block;
    height:34px;
    line-height:34px;
    background-color: #fff;
    float: left;
}
.yoho-footer .footer-link .left-flag a {
    margin-right: 5px;
}
.yoho-footer .footer-link .about-us a {
    color: #666;
}
.yoho-footer .footer-link .links {
    word-break: keep-all;
}
.yoho-footer .footer-link .about-us span {
    padding: 0 10px;
}
.yoho-footer .footer-link .police {
    background: url(../img/police.png) no-repeat;
    height: 20px;
    display: inline-block;
    padding-left: 25px;
}
.yoho-footer .footer-link .copyright {
    text-align: center;
    color: #666;
    padding-top: 20px;
    line-height: 20px;
}
.yoho-footer .footer-link .copyright a {
    color: #666;
}
/*友情链接*/
.yoho-footer .footer-link-container {
    background: #000;
    height: 48px;
    overflow: hidden;
    width: 100%;
}
.yoho-footer .footer-link-container .link-info {
    font-size: 12px;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    width: 60px;
    height: 48px;
}
.yoho-footer .footer-link-container > div {
    padding-top: 15px;
    border-top: 1px solid rgb(38, 38, 38);
}
.yoho-footer .footer-link-container .link-section {
    opacity: 0.9;
    font-size: 12px;
    letter-spacing: 0px;
    width: 1090px;
    position: relative;
}
.yoho-footer .footer-link-container .link-section li:first-child {
    margin-left: 11px;
}
.yoho-footer .footer-link-container .link-section li {
    display: inline-block;
    margin-left: 22px;
    height: 48px;
}
.yoho-footer .footer-link-container .link-section li > a {
    color: rgb(102, 102, 102);
}
.yoho-footer .footer-link-container .link-section li:hover a {
    text-decoration: underline;
}