html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

a { text-decoration:none; }
img{display: block;}
em{font-style:normal}
li{list-style:none}
.clearfix:after{content:".";display:block;clear:both;font-size:1px;height:0;overflow:hidden;visibility:hidden;}

.main-header{
    width:100%;
    height:32px;
    line-height: 32px;
    font-size:12px;
    background-color: #f4f4f4;
}

.yohuo-map {
    padding: 0 5px;
    position: relative;
    float: left;
}
.icon-hamburger {
    background-image: url(img/sprite.scss.png?t=1557212905579);
    background-position: -19px -86px;
    background-size: 123px 122px;
    width: 16px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
a { 
    text-decoration: none;
    color: #000;
}
 ul {
    list-style: none;
}
 .yohuo-map:hover .yohuo-list{
     display: block;
 }
 .yohuo-map li  a{
    color: #9196a0;
    font-size: 14px;

    
 }
 .yohuo-map li:hover  a{
    color: #000;
    font-size: 14px;
    
}

 
 .yohuo-list {
    position: absolute;
    display: none;
    width: 170px;
    top: 32px;
    margin-left: -5px;
    background-color: #f4f4f4;
    padding: 20px 0 20px 20px;
    z-index: 1000;
    
}
.yohuo-list .A1 .a1{
    
    display: none;
}
.yohuo-list .A2 .a2{
    
    display: none;
}
.yohuo-list .A3 .a3{
    
    display: none;
}
.yohuo-list .A4 .a4{
    
    display: none;
}
.yohuo-list .A5 .a5{
    
    display: none;
}

.yohuo-list .A1:hover .a1{
    display: block;
}
.yohuo-list .A2:hover .a2{
    display: block;
}
.yohuo-list .A3:hover .a3{
    display: block;
}
.yohuo-list .A4:hover .a4{
    display: block;
}
.yohuo-list .A5:hover .a5{
    display: block;
}
.yohuo-list li:hover a{
    display: none;
}
.s-info{
    color: #444;
    font-size: 12px;
    margin-left: 20px;
    padding: 0 1px;
    height: 32px;
    overflow: hidden;
    float: left;
    
}
.icon-note{
    display: inline-block;
    background-image: url(img/sprite.scss.png?t=1557212905580);
    background-position: -107px -22px;
    background-size: 123px 122px;
    width: 15px;
    height: 14px;
    margin-top: -2px;
    margin-right: 2px;
    vertical-align: middle;
}
.s-info a {
    color: #d71d32;
}
.yohuo-right{
    float: right;
}
.yohuo-right li{
    float: left;
    padding-right: 10px;
     position: relative;
}
.yohuo-right li span{
    display: inline-block;
   vertical-align: middle;
   line-height: 30px;
}
.yohuo-right li a{
    color: #8e8e8e;
    text-decoration: none;
}
.yohuo-right .tag-s{
    width: 0;
    margin-top: 11px;
    margin-right: 12px;
    height: 14px;
    float: left;
    border-left: 1px solid #dcdcdc;
}
.icon-bottom{
    background-image: url(img/sprite.scss.png?t=1557212905579);
    background-size: 123px 122px;
    margin-top: -2px;
    background-position: -64px -86px;
    width: 10px;
    height: 5px;
}
.simple-u{
    top: 32px;
    margin-left: -110px;
   width: 300px;
   position: absolute;
   background-color: #f8f8f8;
   z-index: 100;
   display: none;
}
.icon-papers{
    background-image: url(img/sprite.scss.png?t=1557212905579);
    background-size: 123px 122px;
    margin-top: -2px;
    background-position: 0 -86px;
    width: 11px;
    height: 14px;
}
.icon-heart{
    background-image: url(img/sprite.scss.png?t=1557212905579);
   background-size: 123px 122px;
   margin-top: -2px;
   background-position: -107px -44px;
   width: 15px;
   height: 13px;
}
.icon-mail{
    background-position: -107px -65px;
    width: 16px;
   height: 11px;
  background-image: url(img/sprite.scss.png?t=1557212905579);
  background-size: 123px 122px;
  margin-top: -2px;
}
.icon-phone{
    background-image: url(img/sprite.scss.png?t=1557212905579);
  background-position: 0 -108px;
   background-size: 123px 122px;
  width: 10px;
  height: 14px;
  margin-top: -2px;
}
.download-box{
    margin-left: -26px;
    position: absolute;
top: 32px;
margin-left: -35px;
width: 146px;
padding: 20px 0 14px;
background-color: #f4f4f4;
border: none;
z-index: 1000;
display: none;
}
.code-img{
    position: relative;
background-image: url(img/qr-wenle.png?16a911ed91f);
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 2px auto 3px;
width: 96px;
height: 96px;

}
.yohuo-right .code-box .iconfont{
    font-size: 16px;
    color: #86bf4a;
}
.yohuo-right .code-box a{
    color: #86bf4a;
}
.nav-down{
    top: 32px;
margin-left: 1px;
width: 88px;
position: absolute;
background-color: #eaeceb;
z-index: 100;
}
.help-box .nav-down {
    display:none;
}
.help-box:hover .nav-down{
    display: block;
}
.nav-down li{
    float: none;
padding: 0;
position: relative;
width: 88px;
height: 33px;
border-top: 1px solid #c9c9c9;
box-sizing: border-box;
line-height: 33px;
text-align: center;
}
.nav-down li a{
    display: inline-block;
 width: 88px;
height: 33px;
line-height: 33px;
box-sizing: border-box;
}

.download-app-box{
    position: absolute;
top: 32px;
margin-left: -35px;
width: 146px;
padding: 20px 0 14px;
background-color: #f4f4f4;
border: none;
z-index: 1000;
display: none;
}
.phone-box:hover .download-app-box{
    display: block;
}
.code-box:hover .download-box{
    display: block;
}
.qr-img{
    position: relative;
    background-image: url(img/qr-wenle.png?16a911ed920);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2px auto 3px;
    width: 96px;
    height: 96px;
    
}
.qr-words{
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
}
.qr-more{
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
}
.yohuo-right h5 a{
    color: #d71d32;
}
.center-content{
    width:1150px;
    margin-left: auto;
    margin-right: auto;
}
.out-log{
    background: url(img/outlets.png?16a911ed91e) no-repeat 50%;
width: 200px;
height: 34px;
left: 45%;
margin-top: 28px;
position: absolute;
display: none;
}
.main-log{
    background: url(img/logo-en.png?16a911ed91d) no-repeat 50%;
width: 182px;
height: 53px;
left: 43%;
margin-top: 22px;
position: absolute;

}
.main-nav-list{
   
    vertical-align: top;
    padding-top: 45px;
    float: left;

}
.main-link{
    display: block;
width: 100%;
height: 100%;
}
.main-nav-list .cure{
    
    background-color: #3a3a3a;

}
.main-nav-list .cure .name-cn a{
    color: #fff;
}
.main-nav-list .cure .name-en a{
    color: #fff;
}
.main-nav-list li{
    float: left;
padding: 12px 22px 5px;
text-align: center;
}
.main-nav-list li a{
    font-size: 12px;
line-height: 14px;
}
.main-nav-list .name-cn a{
    font-size: 14px;
    font-weight: normal;
}
.main-nav-list .name-en a{
    color: #8e8e8e;
    font-weight: normal;
}
.func-area{
    float: right;
width: 378px;
padding-right: 18px;
margin-top: 40px;

}
.search-2016{
    width: 320px;
height: 28px;
box-sizing: border-box;
display: inline-block;
}
.search-2016 form{
    background-color: #3a3a3a;
border: 1px solid #3a3a3a;
overflow: hidden;
width: 320px;
height: 28px;
box-sizing: border-box;
display: inline-block
}
.search-s{
    position: absolute;
width: 320px;
box-sizing: border-box;
border: 1px solid #000;
margin-top: 27px;
padding-top: 20px;
background-color: #fff;
display: none;
z-index: 1000;
}
.search-s-h{
    padding-top: 0;
    position: absolute;
width: 320px;
box-sizing: border-box;
border: 1px solid #000;
margin-top: 27px;
background-color: #fff;
z-index: 1000;
}
.search-2016{
    width: 320px;
    height: 28px;
    box-sizing: border-box;
    display: inline-block;

}
.search-2016 input{
    width: 240px;
height: 100%;
border: none;
background: #fff;
box-sizing: border-box;
padding-left: 10px;
}
.search-2016 .search-btn{
    background: url(img/search.png?16a911ed920) no-repeat 50%;
width: 78px;
height: 28px;
float: right;
border: none;
cursor: pointer;
}
.search-hot{
    width: 320px;
height: 16px;
box-sizing: border-box;
display: inline-block;
padding-top:8px;
}
.search-hot li{
    float: left;
    margin-top:-7px; 
}
.search-hot span{
    display: inline-block;
font-size: 12px;
color: #b0b0b0;
margin-right: 18px;
}
.search-hot a{
    display: block;
}
.search-hot span:hover{
    color: #d0021b;
}
.go-cart{
    width: 30px;
height: 30px;
float: right;
cursor: pointer;
position: relative;
 
}
.go-cart .good-tips{
    position: absolute;
background: url(img/ic-information.png?16a911ed91c) no-repeat;
width: 27px;
height: 20px;
top: -10px;
right: -15px;
color: #fff;
text-align: center;
line-height: 20px;
font-size: 12px;
}
.go-cart .iconfont{
    font-size: 26px;
    color: #3a3a3a;
}
.go-cart .mini-cart{
    position: absolute;
top: 30px;
right: -14px;
width: 378px;
z-index: 1000;
background: #f8f8f8;
display: none;
}
.empty-cart{
    padding: 280px 0 200px;
text-align: center;
background: url(img/empty_car.png?16a911ed91c) no-repeat 106px 132px;
}
.go-cart:hover .mini-cart{
      display: block;
}
.nav-wrapper{
    height: 40px;
    width: 100%;
    position: relative;
    background-color: #3a3a3a;
}
.center-content{
    width: 1150px;
    margin-left: auto;
  margin-right: auto;
  
}
.nav-wrapper .sub-list li{
    line-height: 40px;
  padding-right: 46px;
  box-sizing: border-box;
  margin-right: 36px;
 display: inline-block;
 
}
.nav-wrapper .sub-list li a{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    position: relative;
}
.nav-wrapper .sub-list li:hover a{
    padding-bottom: 3px;
border-bottom: 2px solid #fff;
}


.nav-wrapper .cintain-third .third-nav-wrapper{
    width: 100%;
    height: 410px;
    box-sizing: border-box;
     position: absolute;
    left:0;
    top: 38px;
    padding: 30px 0;
    background-color:#f8f8f8;
    z-index:900 ;
    display: none;
 
}
.nav-wrapper  .cintain-third .third-nav-wrapper dl:first-child{
    width: 228px;
border-left: 0;
padding-left: 0;
}
.nav-wrapper  .cintain-third .third-nav-wrapper dl{
    float: left;
width: 278px;
height: 352px;
box-sizing: border-box;
border-left: 1px solid #ccc;
padding: 0 50px;
}
.nav-wrapper .cintain-third .third-nav-wrapper dt{
    width: 180px;
padding-bottom: 10px;
border-bottom: 1px solid #000;
line-height: 18px;
margin-bottom: 20px;
}

.nav-wrapper .cintain-third .cat-list dt a{
    color: #000;
    font-size: 14px;
}
.nav-wrapper .cintain-third .cat-list dd a{
    color: #a1a1a1;
    font-size: 14px;
    border-bottom:none !important;
}
.nav-wrapper .cintain-third .cat-list .hot{
    color: #e01;
}

.nav-wrapper .cintain-third .cat-list dd:hover a{
    text-decoration: underline;
}

.nav-wrapper .cintain-third.third-nav-wrapper dd{
    line-height: 14px;
height: 14px;
margin-bottom: 24px;
}
.nav-wrapper .cintain-third.third-nav-wrapper .show-detail{
    box-sizing: border-box;
padding-left: 19px;
padding-right: 19px;
width: 337px;
height: 250px;
float: right;
}
.nav-wrapper .cintain-third:hover .third-nav-wrapper{
    display: block;
}
.nav-wrapper .third-nav-wrapper .show-detail .title{
 margin-top: 40px;
text-align: center;
font-size: 14px;
color: #000;
margin-left: 120px;
 border-bottom:none !important;
  
}
.cde-box{
    position: fixed;
top: 260px;
right: 20px;
width: 117px;
padding-top: 20px;
border: none;
background-color: transparent;
z-index: 990;
display: block;
}
.cde-img{
    width: 116px;
height: 116px;
background-image: url(img/cover.png?16a911ed91b);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.cde-box .iconfont{
    position: absolute;
top: -13px;
right: -10px;
display: inline-block;
font-size: 30px;
cursor: pointer;
}
.cde-title{
    color: #000;
font-size: 12px;
height: 20px;
line-height: 20px;
text-align: center;
}
.brand-banner{
    height: 45px;
 width: 100%;
 background-color: #000;
 background-image: url(img/ff.jpg)
}
.brand-banner .center-content{
    width: 1150px;
margin: 0 auto;

}
.main{
   width: 1150px;
 min-height: 560px;
}
.path-nav{
    font-size: 12px;
padding: 15px 0;
height: 18px;
line-height: 18px;
color: #444;
}
.path-nav .last{
    font-weight: 700;
}
.pull-left-imgs{

    float:left;
}
.pull-left-img{
    position: relative;
 width: 420px;
 height: 600px;
 float: left;
}
.main .tags{
    position: absolute;
    top: 0;
    left: 0;
}
.main .new-tag{
    float: left;
box-sizing: border-box;
height: 22px;
line-height: 22px;
color: #fff;
padding: 0 7px;
margin-right: 5px;
font-size: 12px;
background: #78dc7d;
}
.pull-left-img .img-show{
    display: block;
width: 420px;
height: 560px;


}
.pull-left-img .mask{
    height: 314px;
width: 314px;
background: url(img/move.png?16a911ed975);
 position: absolute;
 left:0;
 top: 0;
 display: none;
 
}
.pull-left-img .big-img{
    width: 558px;
    height: 558px;
    border: 2px solid #b0b0b0;
    background: #fff;
    left: 515px;
    z-index: 100;
    overflow: hidden;
    top:0;
    position: absolute;
    display: none;
}
.pull-left-img .bimg{
    position: absolute;
    top:0;
    left:0; 
}
.pull-left-img .big-img{
    width: 558px;
height: 558px;
border: 2px solid #b0b0b0;
background: #fff;
left: 515px;
z-index: 100;
overflow: hidden;
top:0;
position: absolute;
 display: none; 
}
.sbox{
    position: relative;
    width: 420px;
    height: 560px; 
}
.share-row{
    margin-top: 20px;
height: 16px;
}
.share-row .fenxiang{
    line-height: 16px !important;
    color: #000;
    font-size: 13px;
    letter-spacing: 5px;
    float: left;
}
.share-to li{
    display: block;
float: left;
margin-left: 5px;
width: 16px;
height: 16px;
cursor: pointer;
}
.share-to .weibo{
    background-image: url(img/mm.png);
background-size: 123px 122px;
background-position: -48px -62px;

}
.share-to .weixin{
    background-image: url(img/mm.png);
background-size: 123px 122px;
background-position: 0 -62px;

}
.share-to .qzone{
    background-image: url(img/mm.png);
background-size: 123px 122px;
background-position: -24px -38px;

}
.share-to .qq{
    background-image: url(img/mm.png);
background-size: 123px 122px;
background-position: 0 -38px;

}
 .thumb{
    width: 75px;
height: 560px;
margin-left: 10px;
margin-right: 60px;
overflow: hidden;
float: right;

}
.thumb-wrap img{
    display: block;
    width: 71px;
    height: 96px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 2px solid #fff;
}
.ll:hover{
    border: 2px solid #000;
}
.zz:hover{
    border: 2px solid #000;
}
.pull-right{
    width: 585px;
    float: right;
}
.g-log{
    font-size: 20px;
font-weight: 700;
line-height: 30px;
}
.pull-right .line{
    width: 100%;
height: 2px;
border-bottom: 1px solid #eaeceb;
margin-top: 20px;
margin-bottom: 20px;
}
.price-row{
    display: inline-block;
height: 20px;
margin-bottom: 10px;
}
.title{
    color: #000;
    font-size: 13px;
    letter-spacing: 5px;
    line-height: 20px;
}
.price{
    color: #000;
font-size: 22px;
line-height: 24px;
font-weight: 700;
display: inline-block;
vertical-align: middle;
}
.desc{
    display: inline-block;
    margin-left: 20px;
}
.vip-class{
    line-height: 14px;
color: #707070;
font-size: 13px;
display: inline-block;
height: 22px;
vertical-align: top;
}
.unlogin{
    display: inline-block;
padding-top: 3px;
}
.login-url{
    color: #d0021b;
display: inline-block;
font-size: 13px;
padding-top: 3px;
margin-left: 20px;
vertical-align: top;
}
.title2{
    color: #000;
font-size: 13px;
letter-spacing: 5px;
line-height: 20px;
float: left;
}
.p-left{
    float: left;
}
.p-item{
    margin-bottom: 8px;
}
.ac-type{
    display: inline-block;
width: 70px;
height: 20px;
line-height: 20px;
margin-right: 5px;
text-align: center;
background: #b0b0b0;
color: #fff;
font-size: 12px;
}
.ac-des{
    font-size: 13px;
width: 430px;
display: inline-block;
vertical-align: top;
line-height: 20px;
}
.small-list{
 height: 18px;
}
.s-left{
    color: #000;
font-size: 13px;
letter-spacing: 5px;
line-height: 20px;
float: left;
}
.more-coupon{
   cursor: pointer;
}
.xj{
    position: relative;
    float: left;
    height: 18px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: #d0021b;
    min-width: 10px;
}
.xj::before{
    position: absolute;
display: inline-block;
content: "";
top: 0;
width: 5px;
height: 18px;
background-image: url(img/hot.png);
background-size: 112px 138px;
left: -5px;
background-position: -26px -58px;
}
.xj::after{
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    width: 5px;
    height: 18px;
    background-image: url(img/hot.png);
    background-size: 112px 138px;
    right: -5px;
background-position: -39px -58px;
}
.ms{
    line-height: 18px;
font-size: 12px;
color: #fff;
margin-left: 8px;
margin-right: 8px;
cursor: pointer;
}
.small-list .gd1{
    line-height: 18px;
font-size: 12px;
color: #d0021b;
margin-left: 8px;
margin-right: 8px;
}
.title-p{
    color: #000;
font-size: 13px;
letter-spacing: 5px;
line-height: 20px;
margin-top: 8px;
float: left;
}
.chose-color{
    font-size: 12px;
    margin-bottom: 10px;
}
.chose-color ul{
    width: 510px;
margin-top: -8px;
float: left;
}
.chose-color li{
    margin-right: 10px;
cursor: pointer;
border: 1px solid #999;
    height: 34px;
   margin-top: 8px;
   margin-bottom:10px;
  cursor: pointer;
    border: 1px solid #999;
    float: left;
    border-color: #000;
}
.fous img{
    float: left;
 display: block;
width: 25px;
height: 34px;
color: #fff;
}
.chose-color .clor-name{
    float: left;
height: 34px;
line-height: 34px;
text-align: center;
margin-left: 8px;
margin-right: 10px;
}
.chose-size{
    font-size: 12px;
    margin-bottom: 10px;
}
.chose-size .title-p{
    color: #000;
font-size: 13px;
letter-spacing: 5px;
line-height: 20px;
margin-top: 4px;
float: left;
}
.size-warn{
    font-size: 13px;
    color: #d0021b;
    clear: both;
    line-height: 25px;
    display:none;
}
.few-sold{
    display: none;
    float: left;
    font-size: 13px;
    padding: 2px 4px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 20px;
    color: #000;
}
.few-sold i{
    color: #d0021b;
    font-style:normal; 
}
.chose-size .sku{
    letter-spacing: 22px;
width: 54px;
display: inline-block;
overflow: hidden;
white-space: nowrap;
vertical-align: middle;
font-style:normal; 
}
.size-wrapper{
    width: 510px;
position: relative;
float: left;
}
.size-wrapper .size{
    float: left;
color: #000;
margin-top: -8px;
}
.chose-size li{
    float: left;
display: block;
height: 24px;
line-height: 24px;
margin-right: 8px;
margin-top: 8px;
padding: 0 10px;
border: 1px solid #999;
text-align: center;
cursor: pointer;
min-width: 10px;
}
.chose-size li.focus{
    color: #fff;
    background: #222;
    border: 1px solid #222;
}
.color-size{
    font-size: 13px;
    color: #999;
    clear: both;
    line-height: 25px;
}
.chose-count{
    margin-bottom: 10px;
}
.chose-count .title-p{
    color: #000;
font-size: 13px;
letter-spacing: 5px;
line-height: 20px;
margin-top: 4px;
float: left;
}
.num-wrapper{
    position: relative;
    float: left;
}
.minus{
    display: block;
width: 25px;
height: 25px;
border: 1px solid #b0b0b0;
text-align: center;
cursor: pointer;
background-color: #e0e0e0;
float: left;
}
.minus i{
    display: block;
width: 25px;
height: 25px;
line-height: 23px;
font-size: 12px;
-moz-user-select: none;
border-top: 1px solid 
}
.num{
    display: block;
width: 50px;
height: 25px;
line-height: 27px;
text-align: center;
border: 1px solid #000;
color: #000;
font-size: 12px;
margin-left: 5px;
margin-right: 5px;
float: left;
}
.minus-p{
    display: block;
width: 25px;
height: 25px;
border: 1px solid #b0b0b0;
text-align: center;
cursor: pointer;
background-color: #e0e0e0;
float: left;
}
.buy-i{
    display: inline-block;
margin-right: 10px;
margin-bottom: 15px;
height: 46px;
line-height: 46px;
width: 180px;
text-align: center;
color: #fff;
background: #d0021b;
font-size: 16px;
box-sizing: border-box;
cursor: pointer;
}
.add-to-cart .iconfont{
    font-size: 19px;
margin-right: 5px;
color: #fff;
}
.collect-p{
    display: inline-block;
width: 140px;
height: 46px;
text-align: center;
line-height: 42px;
margin-bottom: 15px;
background: #fff;
color: #222;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 16px;
cursor: pointer;
margin-right: 10px;
}
.collect-p .iconfont{
    margin-right: 5px;
color: #ccc;
font-size: 20px;
}
.support-s{
    margin-bottom: 15px;
}
.support-s .iconfont{
    color: #d0021b;
    font-size: 13px;
}
.active{
    font-size: 13px;
}
.item{
    margin-right: 10px;
}
.item .iconfont{
    color: #d0021b;
    font-size: 13px; 
}
.more-js{
    color: #d0021b;
cursor: pointer;
font-size: 13px;
}
.code-buy{
    display: block;
width: 180px;
height: 92px;
text-align: center;
line-height: 42px;
margin-top: 5px;
margin-bottom: 15px;
background: #fff;
color: #222;
border: 1px solid #e6e6e6;
box-sizing: border-box;
font-size: 16px;
cursor: pointer;

}
.code-box{
    border: none;
width: 180px;
height: 92px;
padding: 4px 5px 5px;
box-sizing: border-box;
}
.code-box img{
    float: left;
width: 82px;
height: 82px;

}
.code-font{
    float:right;
width: 82px;
height: 82px;

}
.code-buy .code-font em{
    display: inline-block;
margin-top: 20px;
font-size: 14px;
line-height: 20px;
color: #000;
text-align: center;
}
.hed{
    font-size: 18px;
   
}
.item{
    margin-top: 23px;
    margin-left:15px;
}
.item .title{
    display: block;
    margin-bottom: 11px;
    margin-left:10px;
    font-family: iconfont!important;
}
.item .desc{
    font-size: 14px;
    color: #b0b0b0!important;
}